body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.row1{
    flex-basis: 100% 500px;
    background-image: url(../assets/presentation.JPG);
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
}

.row1 .header{
    flex-basis: 110px;
    padding: 12px 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.navigation{
    flex-basis: 762px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.navigation .navigation-item{
    height: 36.5px;
    padding: 0 10px;
    text-align: center;
    line-height: 36.5px;
    
}

a{
    color: black;
    text-decoration: none;
    font-size: 1.05em;
    font-weight: bolder;
}
.apply-button{
    background-color: #0d0;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    
}

.row1 .desc{
    flex-basis: 389px;
    padding: 14% 10% 20% 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.desc .text{
    color: white;
    width: 50%;
    text-align: left;
    font-size: 1.5em;
    padding-top: 0;
    padding-bottom: 0;
}

.text h1{
    font-weight: normal;
}

.text p{
    padding: 0;
}

.learn-button{
    color: white;
    background-color: #0d0;
    padding: 10px 20px;
    margin: 17px 0 17px 0;
    border: 0px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    
}


.row2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 130px; 
}

.row2 .statistic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 70px;
}

.statistic .item{
    text-align: center;
}

.item h1{
    color: #0d0;
    font-weight: bold;
    font-size: 53px;
}

.item p{
    font-size: 24px;
    font-weight: bold;
}

.row3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 80px 110px;
}

.row3 .artboard1, .row3 .learn-text {
    width: 100%;
    height: auto;
    font-size: 3.25vw;
}


.learn-text h2{
    font-size: 3.25vw;
    font-weight: normal;
    margin: 0 0 25px 0;
}

.learn-text p{
    font-size: 1.9vw;
    margin: 0 5%;
    line-height: 1.6;
}


.learn-text a{
    font-size: 1.35vw;
    font-weight: lighter;
    margin: 0 5%;
    color: #0d0;
    text-decoration: underline;
}


.row4 {
    background-color: #0d0;
    padding: 2% 10%;
    font-size: 1.8em;   
}

.row4 h2{
    text-align: center;
    padding: 0;
    font-weight: normal;
    margin: 2% 0;
    color: white;
    transform: scaleY(1.3);
    font-stretch: expanded;
}

.row4 .programs{
    display: flex;
    flex-direction: row;
    margin: 0 20%;
    justify-content: center;
    align-items: flex-start;
}

.program-image{
    margin: 0;
    text-align: center;
    width: 50%;
}

.row5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 80px 110px;
}

.graduate-image, .graduate-text{
    width: 100%;
    height: auto;
    font-size: 3.25vw;
}

.graduate-text h2{
    font-size: 3.25vw;
    font-weight: normal;
    margin: 0 0 25px 0;
}

.graduate-text p{
    font-size: 1.9vw;
    margin: 0 5%;
    line-height: 1.6;
}

.graduate-text a{
    font-size: 1.35vw;
    font-weight: lighter;
    margin: 0 5%;
    color: #0d0;
    text-decoration: underline;
}

.row6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 110px 50px 110px;
    font-size: 2.1vw;

}

.rp-title, .rp-text, .rp-image{
    text-align: center;
}

.rp-title h4{
    margin: 0 20% 0 20%;
    font-weight: normal;
    transform: scaleY(1.1);
}

.rp-text p{
    font-size: 1.8vw;
    padding: 0;
}


.row7{
    margin: 0 160px;
    text-align: center;
}

.review-center{
    width: 70%;
    height: auto;
}


.row8{
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    justify-content: center;
    align-items: space-evenly;
    background: #e6e6e6;
}

.media-title{
    text-align: center;
    font-size: 2.2vw;
}


.media-images-1, .media-images-2{
    padding: 25px 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.media-title h3{
    margin: 0;
    text-align: center;
}

.media-images-1 a, .media-images-2 a{
    display: block;
    width: 280px;
}

.row9{
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    justify-content: center;
    align-items: space-evenly;
}

.funding-partners__title, .funding-partners__images, .horizontal-rule, .strategic-partners__title, .strategic-partners__images{
    font-size: 2.2vw;
    text-align: center;
    padding: 25px 50px;
}

.strategic-partners__images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.funding-partners__title h3, .strategic-partners__title h3{
    margin: 0;
}

.strategic-partners__images .image-div{
    width: 300px;
}

.row10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    padding: 50px 150px;
}

.row10 .subscribe{
    text-align: center;
    font-size: 2.2vw;
}

.subscribe h3{
    font-weight: lighter;
    margin: 0;
}

.subscribe .subscribe-button{
    color: white;
    background-color: black;
    padding: 15px 25px;
    border: 0px;
    border-radius: 5px;
    font-size: 1.4vw;
    margin: 25px 0;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px 100px;
    font-size: 1.1em;
}

.privacy-policy{
    text-align: center;
}

.copyright{
    text-align: center;
    color: white;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.socials a{
    display: block;
    margin: 0 10px;
    color: white;
}

.privacy-policy a{
    color: #0d0;
    text-decoration: underline;
}
